<form name="container-form" method="post" class="mt-4" action="/courses/hanlde-form-action">
  <div>
    <h3 class="mb-4">Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>

    <div class="mb-2 mt-2 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>

      <select class="form-control form-control-sm mb-3 mt-3 checkbox-select-all-options" name="action" required>
        <option selected value="">-- Hành động --</option>
        <option value="delete">Xóa</option>
      </select>

      <button type="submit"  class="btn btn-primary btn-sm check-all-submit-btn disabled">Thực hiện</button>
    </div>
  </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col" colspan="2">#</th>
      <th scope="col">Tên khóa học</th>
      <th scope="col">Trình độ</th>
      <th scope="col">Thời gian tạo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
        </div>
      </td>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.title}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a href="/courses/{{this._id}}/edit" class="btn btn-outline-info">Update</a>
        <a href="courses/:slug" class="btn btn-outline-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Delete</a>
      </td>
    </tr>
    {{else}}
    <td>
    <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
      <a href="/courses/create">Đăng khóa học</a>
    </td>
    </td>
    {{/each}}
  </tbody>
</table>
</form>

{{!-- Confirm delete courses --}}
<div class="modal" tabindex="-1" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khóa học này ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="delete">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- DELETED HIDDEN FORM --}}
<form method="post" name="delete-course-form">


</form>




<script>
  'use strict';
  window.addEventListener('DOMContentLoaded', handleModal)

  function id(params) {
    return document.getElementById(params);
  }

  function handleModal() {

    const exampleModal = id('exampleModal');
    const deleteBtn = id('delete');
    const checkboxAll = $('#checkbox-all')
    const courseItemCheckBox = $('input[name="courseIds[]"]');
    const btnCheckboxSubmit = $('.check-all-submit-btn');

    let courseId;
    let containerForm = document.forms['container-form'];
    let deleteForm = document.forms['delete-course-form'];

    // Sự kiện xóa bỏ khóa học
    if (exampleModal) {
      exampleModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        courseId = button.getAttribute('data-bs-id')
      })
    }

    deleteBtn.addEventListener('click', function () {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteForm.submit();
    })

    // Sự kiện checkbox all change
    checkboxAll.change(function () {
      const isCheckedAll = $(this).prop('checked');
      courseItemCheckBox.prop('checked', isCheckedAll);
       renderCheckAllSubmitBtn();
    });

    // Course item checkbox change
    courseItemCheckBox.change(function() {
      const isChecked = courseItemCheckBox.length === $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop('checked', isChecked);
      renderCheckAllSubmitBtn();
    });

    // check all submit button clicked
    checkboxAll.on('submit', function(e) {
    const isSubmittable = !$(this).hasClass('disabled');
      if(!isSubmittable){
        event.preventDefault();
      }
    })

    // re-render check all submit button
    function renderCheckAllSubmitBtn() {
      const checkedCount = $('input[name="courseIds[]"]:checked').length;
      if(checkedCount > 0){
        btnCheckboxSubmit.removeClass('disabled');
      } else {
        btnCheckboxSubmit.addClass('disabled');
      }
    }

  }
</script>